.footer {
    width: 100%;
    .contact {
        @include flex(row, center, center); 
        .infoContact {
            width: 50%;
        }
        .boxContact {
            width: 50%;
        }
    }
}