footer {
    section:first-child {
        background-color: $blue;
        color: white;
        @include flex(row, space-around, center);
        padding: $paddingSection;   
        div:first-child {
            background-color: red;
            
        }
    }
    section:last-child {
        background-color: rgb(1, 0, 31);
        color: rgb(150, 150, 238);
        padding: $paddingSection;
    }

}



.facebook {
	background-color: blue ;
}

.twitter {
	background-color: blue;
}

.googlePlus {
	background-color: red;
}

.instagram {
	background-color: pink;
}