footer {
    width: 100%;
    .contact {
        @include flex(row, space-evenly, center); 
        margin-bottom: 8%;
        .formBox {
            border-radius: 5px;
            border: 2px solid  rgb(64, 64, 64);
        }
        .infoContact {
            width: 40%;
            margin-left: 10%;
            p {
                text-align: center;
                font-size: 30px;
            }
            .logoRso ul {
                @include flex(row, center, center);
                font-size: 30px;
                color: $blue;
                li {
                    cursor: pointer;
                }

            }
            .map iframe {
                width: 100%;

            }
        }
        .boxContact {
            width: 50%;
            margin: 10% 0 0 5%;

            .boxInput {
                margin: 0 0 15px 20%;
            }
            .formInput {
                width: 70%;
                height: 40px;
                vertical-align: middle;
                background-color: rgba(61, 93, 163, 0.4);
            }
            .formCom {
                width: 70%;
                height: 200px;
                background-color: rgba(61, 93, 163, 0.4);
                resize: none;
            }
            .inputSubmit {
                text-align: center;
                .inputBtn {
                    padding: 10px 20px;
                    background-color: $orange;
                    cursor: pointer;
                }
            }

        }
    }
}