header {
    background-color: $blue;
    color: $white;
    nav {
        width: 80%;
        margin: auto;
        padding: $paddingSection;
        @include flex(row, space-between, center);

        &>ul {
            @include flex(row, flex-start, center);
        };
        li {
            &:not(:last-child) {
                margin-right: 30px;
            };
        }
        li img {
            margin-right: 40px;
        }
        div i, div a {
            margin-right: 30px;
            font-size: 25px;
        }
    }
}