header {
    #NavBar {
        background-color: rgba(61, 93, 163, 0.9);
        width: 100%;
        position: fixed;
        z-index: 9000;
        padding-top: 4vh;
        .menu_Burger {
            display: none;
        }

        .lien_Menu {
            @include flex(row, flex-end, baseline);
            font-size: 24px;
            width: 100%;
            li {
                margin-right: 10vh;
            }
            li:hover {
                color: $orange;
                font-weight: bold;   
            }
        }
    }
    .lien_Menu_Responsive {
        display: none;
        position: relative;
        top: 10vh;
        width: 100%;text-align: center;
        font-size: 40px;
        line-height: 18vh;
        
    }
}



  


  
