body {
	line-height: 1;
	width: 100%;
	font-family: "SairaRegular", Arial, Helvetica, sans-serif;
	word-spacing: 2px;
	margin: 0;
	background-image: url(/assets/img/bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color:  rgb(64, 64, 64);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: "SairaRegular";
    src: url(/assets/fonts/Saira_condensed/SairaCondensed-Regular.ttf);
}

@font-face {
    font-family: "Saira";
    src: url(/assets/fonts/Saira_condensed/SairaCondensed-SemiBold.ttf);
}


a {
	text-decoration: none;
	color: inherit;
}
.logo h1 {
	font-family: "Saira";
	color: rgb(255, 180, 67);
	font-size: 20px;
}

