main {
    .accueil {
        width: 100%;
        height: 90vh;
        .intro {
            padding: 10% 0% 20% 20%;
            & p {
                font-size: 60px;
            }
        }

    }

    .aPropos {
        width: 100%;
        height: 70vw;
        background-image: url(/assets/img/bg-2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: local;
        .contentaPropos {
            @include flex (row, space-evenly, center);
            color: white;
            font-size: 25px;
            .content1 {
                width: 40%;
            }
            .content2 {
                width: 25%;
            }

        }
        
    }

    .competences {
        width: 100%;
        height: 100vh;
        // // background-image: url(/assets/img/bg-3.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    .sectionProjets {
        width: 100%;
        .projets {
            @include flex(row, space-evenly, center);
            width: 100%;
            padding-top: 0;
            .boxRight {
                margin-top: 20vw;
            }
        }
        .box-img {

        }

    }

}
